---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About SneakSnake"
	description="An open source multiplayer snake game"
	pubDate={new Date('December 12 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		SneakSnake is an open source multiplayer snake game.  I have always been fascinated with game development, but never made the time to actually make a game.  I really like the simplicty of some of the old cell phone games & gameboy games of the past and love when something like Tetris 99 brings that concept back with a new twist.  This project aims to bring snake back from the dead with some new fun mechanics.
	</p>
</Layout>
