---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/phaser@3.70.0/dist/phaser-arcade-physics.min.js"
    ></script>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>𓆙 SSSSSSSsssneakSnake</h1>
      <p>
        SneakSnake is an open source multiplayer snake game.
      </p>
      <p>
        To support this project, you can <a href="https://github.com/popcorn245/sneaksnake" target="_blank">submit a pull-request / issue on our GitHub project</a> or <a href="https://github.com/popcorn245" target="_blank">send me a message on Twitter</a> (Yes, I know Elon...).
      </p>
      <div id="phaser-example" style="width: 100%; height: 100%;"></div>
    </main>
    <script src="../scripts/snake.js"></script>
    <Footer />
  </body>
</html>
